
/*Hero section */
.hero {
    background-image: url('../img/scott-webb-102825-overlay.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    height: 40vh;
   
}

.hero-explore-page {
    background-image: url('../img/andrew-ruiz-348421.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    height: 40vh;
   
} 

.hero-exhibition-page {
    background-image: url('../img/scientific-2040795_1280.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    height: 40vh;
   
}

.hero-events-page {
    background-image: url('../img/genoa-956405_1920.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    height: 40vh;
   
}

.hero-visit-page {
    background-image: url('../img/roberto-nickson-396152.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    height: 40vh;
   
}

.hero-getinvolved-page {
    background-image: url('../img/exhibition-1863344_1920.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    height: 40vh;
   
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative; 
    z-index: 1; 
}

.hero-title {
    font-size: 60px;
    font-family: Inter;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.learn-more-button {
    background-color: #FF494B; 
    color: #fff;
    font-family: Inter;
    text-decoration: none;
}

.get-started-button {
    background-color: #00F0AC; 
    color: #fff;
    font-family: Inter;
    text-decoration: none;
}

.hero-button {
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-family: Inter;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 40px;
    }
}

/* End of hero section */

/* Wiidth and center the image section with text on side */

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0; 
    width: 60%;
}


.column {
    width: 50%;
    padding: 0 20px; 
}


.column img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}


.column h2 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column h3 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column h4 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column h5 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: Inter;
}


.column p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Inter;
}


.content-button {
    padding: 10px 20px;
    background-color: #FF494B; 
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-family: Inter;
}

.content-button-yellow { 
    padding: 10px 20px;
    background-color: #FFB842; 
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-family: Inter;
}

.content-button-green { 
    padding: 10px 20px;
    background-color: #00F0AC; 
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-family: Inter;
}

.content-section.reversed {
    flex-direction: row-reverse;
}


/* responsives for content section */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
   
    }

    .column {
        width: 100%;
        padding: 20px;
    }

    .column img {
        border-radius: 25; 
    }
    
    .column h2 {
        font-size: 32px;
        text-align: left;
    }

    .column h3 {
        font-size: 32px;
        text-align: left;
    }

    .column h4 {
        font-size: 32px;
        text-align: left;
    }

    .column h5 {
        font-size: 32px;
        text-align: left;
    }

  
    .column p {
        text-align: left;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: flex-start; 
    }

    .content-button {
        width: 50%;
        margin-top: auto; 
       
    }
}


/* Responsive verison of the reversed version */
@media (max-width: 768px) {
    .content-section.reversed {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-section.reversed .column {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-section.reversed .column img {
        border-radius: 25; 
    }

    .content-section.reversed .column h2 {
        font-size: 32px; 
        text-align: left; 
    }

    .content-section.reversed .column p {
        font-size: 14px; 
        text-align: left; 
    }

    .content-section.reversed .button-container {
        display: flex;
        width: 100%;
        justify-content: flex-start; 
    }

    .content-section.reversed .content-button {
        background-color: #FF494B;
        color: #fff;
        font-size: 14px;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        cursor: pointer;
    }
}


.overlay-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.overlay-section {
    position: relative;
    width: 60%;
    height: 400px; 
    height: 50vh;
    background-image: url('../img/people-219985_1280.jpg'); 
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.overlay-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-family: Inter;
    width: 50%;
}

.overlay-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: Inter;
}

.overlay-content h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: Inter;
}

.overlay-content h4 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: Inter;
}

.overlay-content h5 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: Inter;
}
.overlay-content p {
    font-size: 16px;
    margin-bottom: 0;
}

/* Media queries for responsivness */
@media (max-width: 768px) {
    .overlay-section-container {
        display:none;
    }

    
}

.overlay-content-container {
    display:none;
}

@media (max-width: 768px) {

    .overlay-content-container {
        display:block;
    }


    .overlay-content-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
   
    }

    .overlay-column {
        width: 100%;
        padding: 20px;
    }

    .overlay-column img {
        border-radius: 25; 
        max-width: 100%;
    }
    
    .overlay-column h2 {
        font-size: 32px; 
        text-align: left;
        font-family: Inter;
    }

    .overlay-column p {
        text-align: left;
        font-family: Inter;
    }

    

    
}





/* Footer settings */
.footer {
    padding: 50px 0;
    background-color: #FFB842;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.footer-column img {
    max-width: 100%;
    width: 35%;
    height: auto;
}

.footer-column h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-family: Inter;
}

.footer-list {
    list-style: none;
    padding: 0;
    font-family: Inter;
}

.footer-list li {
    margin-bottom: 8px;
    font-family: Inter;
}

.footer p {
    font-family: Inter;
}

.footer-list a {
    color: #000;
    text-decoration: underline;
    font-family: Inter;
}

.footer-images {
    display: flex;
    align-items: center;
    width: 35%;
}

.footer-images img {
    max-width: 30%;
    margin: 0 10px;
}


/* Responsive footer settings */

@media (max-width: 768px) {
    .footer-section {
        flex-direction: column;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-images img {
        width: 100%;
        margin: 0;
        padding: 25px;
    }
}


/* events page */

.content-container-events {
    max-width: 60%; /
    margin: 0 auto; 
    padding: 20px;
}

.content-section-events {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}

.column-events {
    width: 100%;
    padding: 20px;
}

.column-events img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px;
}

.column-events h2 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-events h3 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-events h4 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-events h5 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-events p {
    font-size: 16px;
    font-family: Inter;
    margin-bottom: 15px;
}

.button-container-events {
    display: flex;
    justify-content: flex-start; 
}

.content-button-events-yellow {
    background-color: #FFB842;
    font-family: Inter;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

.content-button-events-green {
    background-color: #00F0AC;
    font-family: Inter;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

.content-button-events-red {
    background-color: #FF494B;
    font-family: Inter;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .content-container-events {
        max-width: 90%; 
    }
    
    .content-section-events {
        align-items: center;
    }
}


/* Visit page */

.content-container-visit {
    max-width: 60%; 
    margin: 0 auto; 
    padding: 20px;
}

.content-section-visit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.column-visit {
    width: 100%;
    padding: 0;
}

.column-visit img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 25px;
}

.column-visit h2 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-visit h3 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-visit h4 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-visit h5 {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Inter;
}

.column-visit p {
    font-size: 16px;
    font-family: Inter;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .content-container-visit {
        max-width: 90%; 
    }
    
    .content-section-visit {
        align-items: center;
    }
}
